# Ignore the virtual environment
pvenv/

# Ignore model weights and trained models
model_weights/
*.h5
*.keras

# Ignore dataset folder
pneumonia-dataset/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore uploads (user uploaded files)
uploads/

# Ignore static and temporary files
static/
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore miscellaneous files
.DS_Store
.mypy_cache/
.pytest_cache/
